.home-heading {
    color: #fff;
    font-Size: 25px !important;
    text-Align: center;
    line-height: 1.3;
}

.home-section {
    padding: 30px;
}

.home-section-header {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    padding: 8px;
    background: #d5486a;
    border-radius: 30px;
}

.home-why-desc {
    font-size: 16px;
    padding: 20px;
}

.home-why-desc-line {
    font-size: 16px;
    padding: 5px;
}

.experience-border {
    background: #d0d0d02e;
    border-top: 2px solid #ddd;
}

.experience-img {
    transform: rotate(359deg);
    width: 100%;
    padding: 3px;
    margin-top: 40px;
    background: #fff;
    border-radius: 20px;
    /* border: 1px solid #00000033; */
    box-shadow: 1px 1px 12px 1px #0000006e;
}

.experience-form {
    margin-top: 40px;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #ddd;
}

.experience-shared-detail {
    font-size: 20px;
    padding: 11px;
}

.experience-txt-control {
    height: 50px;
    font-size: 15px;
    padding: 24px;
}

.experience-formline-spacing {
    margin: 7px;
}

.headerSection {
    padding: 50px;
    background: black;
    opacity: 0.5;
    border-radius: 10px;
    border: 3px solid #fff;
    box-shadow: 5px 9px 8px -6px #888888;
}


.registration-section-border {
    background: #d0d0d02e;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}