.my-profile-layout {
    padding: 20px;
    border: 1px solid #ddddddb0;
    border-radius: 5px;
}

.my-profile-layout:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}

.my-profile-sub-detail {
    margin-top: 15px;
    border: 1px solid #ddddddb0;
    border-radius: 5px;
}

.my-profile-sub-detail:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}

.my-profile-sucription-detail {
    background-color: #d7d2d238;
    height: 50px;
    border: 1px dotted #dddddd;
    border-radius: 10px;
    padding: 6px;
}

.my-profile-sucription-text {
    padding: 5px;
}
.my-profile-sucription-btn {
    padding: 10px;
}