.legal-title {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}

.legal-boby {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.legal-boby:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}

/* term-and-use */

.term-and-use-heading {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.term-and-use-heading-ui {
    padding: 18px;
}

/* About Us */

.about-us-heading {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.about-us-heading-ui {
    padding: 18px;
}

/* Fraud alert */

.fraud-alert-heading {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}