
/* Left Side Menu */


.userlayout-leftside {
    border: 1px solid #ddd;
    background: #e7e7e738;
}

.userlayout-leftside:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}

.userlayout-profile-image {
    border: 1px solid #d9d6d7;
    /* box-shadow: 1px 0px 10px 1px #dddddd; */
    border-radius: 50%;
    padding: 3px;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    background: #fff;
}


/* User profile */


.userprofile {
    border: 1px solid #ddd;
    background: #fff;
}

.userprofile:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}


/* User religion */


.user-religion {
    border: 1px solid #ddd;
    background: #fff;
}

.user-religion:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}

/* User personal */

.userpersonal {
    border: 1px solid #ddd;
    background: #fff;
}

.userpersonal:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}


/* User Occupation */

.useroccupation {
    border: 1px solid #ddd;
    background: #fff;
}

.useroccupation:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}

/* User Address */

.user-address {
    border: 1px solid #ddd;
    background: #fff;
}

.user-address:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}

/* User expect */

.user-expect {
    border: 1px solid #ddd;
    background: #fff;
}

.user-expect:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}

/* User Familiy Back ground */

.user-background-family {
    border: 1px solid #ddd;
    background: #fff;
}

.user-background-family:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}


/* User Life Style*/

.user-life-style {
    border: 1px solid #ddd;
    background: #fff;
}

.user-life-style:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}


