.user-leftsidemenu-header {
    padding: 5px;
    background: #dddddd85;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 900;
    border: 1px solid #ddd;
}

.user-leftsidemenu-page {
    background: #e7e7e738;
    border: 1px solid #ddd;
}

.user-leftsidemenu-page:hover {
    background: #e7e7e738;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 4px 0px #ddd;
}

.user-leftsidemenu-page-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.user-leftsidemenu-profile-image {
    border: 1px solid #d9d6d7;
    /* box-shadow: 1px 0px 10px 1px #dddddd; */
    border-radius: 50%;
    padding: 3px;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    background: #fff;
}