.home-heading {
    color: #fff;
    font-Size: 40px;
    text-Align: center;
    line-height: 1.3;
}

.sub-home-heading {
    color: #fff;
    font-Size: 50px;
    text-Align: center;
    line-height: 1.8;
    font-family: 'Brush Script MT', cursive;
}

.home-section {
    padding: 30px;
}

.registration-btn {
    background: #fff;
    padding: 20px;
    font-size: 20px;
    border-radius: 30px;
    color: #d5486a;
    font-weight: bold;
    text-decoration: none;
}

.registration-btn:hover {
    box-shadow: 1px 0px 20px 0px #101010;
    color: #d5486a;
    text-decoration: none;
}

.business-section-header {
    font-size: 25px;
    font-weight: bold;
    color: #d5486a;
    margin-bottom: 30px;
}

.business-box {
    margin-top: 15px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #ddd;
}

.business-icon {
    padding: 5px;
    font-size: 32px;
    color: #d5486a;
    margin-top: 9px;
}

.business-count{
    padding: 5px;
    font-size: 32px;
    font-weight: bold;
}