.mrtn-formlayout-box {
  border-radius: 5px;
  margin-bottom: 20px;
}

.mrtn-formlayout-box-inner {
  padding: 15px
}

.bs-example {
  margin: 20px;
}

.userheader-logo {
  border-radius: 5px;
  color: #d5486a !important;
  font-weight: bold;
  font-size: 26px;
}

.li-padding {
  letter-spacing: 0px;
  font-size: 16px;
}

.MuiButton-root {
  font-family: 'Roboto', sans-serif !important;
}

.bg-dark-header {
  background: linear-gradient( 45deg, #fff 75%, #fff 50%);
  /* border-bottom: 1px solid #d6bac1; */
  box-shadow: 2px 0 10px rgb(0 0 0 / 0%), -2px 0 10px rgb(0 0 0 / 20%);
}

.logout-header {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

/*------------------ Main Layout of application --------------*/

.main-layout {
  padding: 1em 2em;
  margin-top: 65px;
  z-index: 900;
}

.layout-margin {
  margin-top: 10px;
  margin-bottom: 5px;
}

.page-title {
  /*  background: #d5486a; */
  padding: 8px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #0d0d0d38;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1.5px;
  /* color: #fff;*/
}

.footer {
  text-align: center;
  padding: 9px;
  background: #fff;
  border-top: 3px solid #f89fb4;
}

/* .page-title:hover {
  box-shadow: 0px 0px 8px 0px #ddd;
} */

/*-------------------Pricing Module----------------*/
  .pricing-header {
    text-align: center;
    padding: 30px 0;
    background: #d5486a;
    border-radius: 0;
    margin-bottom: 20px;
    color: #ffffff;
    margin-top: 58px;
    height: 200px;
  }
  .pricing-blue {
    color: #0492cd;
  }
  .pricing-orangered {
    color: #d5486a;
  }
  .pricing-green {
    color: #d5486a;
  }
  /*-------------------User Layout Module----------------*/
  .card-title-set {
    margin-bottom: 0.75rem;
    padding: 0 0 15px 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
  }
  .card-title-set-2 {
    margin-bottom: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
  }
  .profile-image {
    border: 2px solid #eccad2;
    /* box-shadow: 1px 0px 10px 1px #dddddd; */
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }
  .view-profile-image-data {
    border: 2px solid #e7e7e7;
    box-shadow: 0px 0px 2px 0px #dddddd;
    border-radius: 50%;
    padding: 2px;
    width: 160px;
    height: 160px;
    margin-bottom: 15px;
    cursor: pointer;
  }
  .view-profile-Name {
    font-size: 18px;
    font-weight: bold;
  }
  .view-profile-uniquecode {
    font-size: 16px;
    font-weight: normal;
  }
  .view-profile-image {
    /* border: 2px solid #eccad2; */
    box-shadow: 1px 0px 7px 1px #dddddd;
    border-radius: 5px;
    padding: 2px;
    width: 335px;
    height: 335px;
    margin-bottom: 15px;
  }


  .view-profile-image-one {
    /* border: 2px solid #eccad2; */
    box-shadow: 1px 0px 7px 1px #dddddd;
    border-radius: 5px;
    padding: 3px;
    width: 335px;
    height: 335px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .view-profile-image-fav {
    /* border: 2px solid #eccad2;  */
    box-shadow: 1px 0px 10px 1px #dddddd;
    border-radius: 10px;
    padding: 2px;
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
    margin-left: 5px;
    cursor: pointer;
  }
  .view-profile-image-border {
    border-radius: 5px;
    padding: 4px;
    background: #fafafa;
  }
  .like-member-dropdownlist {
    float: right;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    border: 2px solid #d5486a75;
    border-radius: 5px;
  }
  .profile-image-avoid {
    border: 2px solid #ddd;
    /* box-shadow: 1px 0px 10px 1px #dddddd; */
    border-radius: 50%;
    padding: 5px;
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
  }
  .gallery-image {
    border: 2px solid #eccad2;
    box-shadow: 1px 0px 10px 1px #dddddd;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
  }
  input[type="file"] {
    background: #d4d2cf82;
    width: 267px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
  }
  .addimage {
    margin-top: 15px;
  }
  .hyperlink {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
  }
  .hyperlink:hover {
    cursor: pointer;
    color: #d5486a;
    padding: 5px;
    border-radius: 5px;
    background: #b6bab41a;
  }
  /*------------ Comman CSS------------------*/
  .text_align_center {
    text-align: center !important;
  }
  .text_align_left {
    text-align: left !important;
  }
  .text_align_right {
    text-align: right !important;
  }
  .forgot-hyperlink {
    text-align: right !important;
    color: #0492cd;
  }
  .padding-right {
    padding-right: 10px;
  }
  .padding-left {
    padding-left: 10px;
  }
  .padding-top {
    padding-top: 10px;
  }
  .padding-bottom {
    padding-bottom: 10px;
  }
  .currency-word {
    color: #999999;
    margin-top: 3px;
    margin-left: 3px;
    font-size: 11px;
  }
  /*Profile Serach Image*/
  .profile-search-image {
    border: 1px solid #dddddd;
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 15px;
    box-shadow: 0px 0px 5px 0px #dddddd;
  }
  .profile-textfont {
    font-weight: 700;
  }
  .profile-textfontName {
    color: #585f58c7;
  }
  #profileaction {
    box-shadow: 3px 4px 6px #ddddddf0;
    background: #fff !important;
    font-size: 14px;
  }
  .like-this-member {
    color: #d5486a;
    font-weight: bold;
  }
  /*Header Css*/
  .header-avtar {
    padding: 2px;
    /* padding: 20px; */
    /* box-shadow: 1px 0px 10px 1px #dddddd; */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #0492cd;
  }
  .header-profile-name {
    font-size: 16px;
    color: #000000;
  }
  /*----- Page Title------------*/
  /* .page-title{
  padding: 10px;
    background: #d8e7d0;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #d6d4d4;
} */
  /*User profile photo cra*/
  
  .reactEasyCrop_CropArea.reactEasyCrop_CropAreaGrid {
    width: 400px;
    height: 400px;
  }
  .cropper {
    height: 350px;
    width: 100%;
  }
  .margin-right {
    margin-right: 18px;
  }
  .margin-left {
    margin-left: 18px;
  }
  .margin-top {
    margin-top: 18px;
  }
  .margin-bottom {
    padding-bottom: 18px;
  }
  .banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .register-title {
    font-size: 18px;
    font-weight: bold;
    color: #d5486a;
  }
  .login-title {
    font-size: 24px;
    font-weight: normal;
    color: #d5486a;
  }
  .register-subtitle {
    font-size: 18px;
    font-weight: normal;
    color: #000;
  }
  .title-margin {
    margin: 20px 0 0;
  }
  .login-title-margin {
    margin: 0 0 25px 0;
    background-color: 0;
  }
  .footer {
    text-align: center;
    padding: 20px;
  }
  .register-bg {
    background: #d5486a;
    height: 228px;
  }
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .mb-2, .my-2 {
    margin-bottom: 1rem !important;
  }
  .head-login-box {
    margin-bottom: 0 !important;
  }
  .login-box {
    justify-content: center;
  }
  .MuiIconButton-label {
    color: #d5486a;
    font-size: 18px !important;
  }
  button:focus {
    outline: 0;
    outline: 0 !important;
  }
  .MuiTableRow-root.MuiTableRow-hover:hover {
    background-color: rgb(249 249 251) !important
  }
  .details-mb {
    margin-bottom: 0.6rem !important;
  }
  .MuiTableCell-footer {
    background-color: #f3f3f3 !important;
  }
  .offer-content {
    font-size: 16px;
  }
  .pricing-title {
    font-size: 20px;
    font-weight: bold;
  }
  .pricing-main-layout {
    margin-top: -125px;
  }
  .pricing .cardPricing {
    background-color: #fff;
  }
  .pricing .card-price {
    font-size: 2.2rem !important;
    font-weight: bold;
  }
  .MuiSvgIcon-root {
    font-size: 24px !important;
  }
  .home-navbar {
    padding: .5rem 2rem !important;
  }
  .user-navbar {
    padding: 0 2rem !important;
  }
  .user-mb {
    margin-bottom: 0 !important;
  }
  .home-main-layout {
    margin-top: 75px;
  }
  .register-button {
    width: 100% !important;
  }
  .login-button {
    width: 100% !important;
  }
  .register-btn-title {
    font-size: 14px;
    font-weight: normal;
    color: #999;
  }
  .custom-checkbox label {
    font-weight: normal;
  }
  .img-govermentId {
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 300px;
    height: 150px;
  }
  .fa {
    font-size: 20px;
  }
  .cropImg {
    border: 1px solid #30303047;
    border-radius: 1px;
    padding: 5px;
    box-shadow: 0px 0px 4px 0px #ddd;
  }

  