.business-home-heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    /* background: red; */
    border-radius: 10px;
}

.business-home-heading-sub {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    /* background: red; */
    border-radius: 10px;
}

.home-page-panel {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #ddd;
}