.footer-website-detail {
    background-color: #d5486a;
    /* width: 100%; */
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 22px;
}

.footer-heading-title {
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
    padding-left: 50px;
    margin-bottom: 15px;
}

.footer-heading-subtitle {
    color: #ffffffa8;
    margin-top: 20px;
    font-size: 14px;
    padding-left: 50px;
    cursor: pointer;
}
.footer-heading-subtitle:hover{
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}


.footer-copy-right{
    padding:14px
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background: #d5486aa6;
    color: #fff;
}
