.carousel-inner img {
  width: 100%;
  height: 100%;
}

.slide-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.slide-top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.slide-top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.slide-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.slide-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}