.header-login-signup {
	background-color: #292c2f;
	box-shadow: 0 1px 1px #ccc;
	padding: 20px 40px;
	height: 95px;
	color: #ffffff;
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	z-index: 1000;
	overflow: hidden;
	letter-spacing: 1px;
}

.header-login-signup .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-login-signup .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, 'Rubik', sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-login-signup .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-login-signup .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-login-signup .header-limiter nav {
	font: 16px 'Rubik', sans-serif;
	line-height: 40px;
	float: right;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-login-signup .header-limiter nav a {
	font-size: 14px;
	display: inline-block;
	padding: 0 15px;
	opacity: 0.9;
	text-decoration: none;
	line-height: 1;
	margin-top: 11px;
	font-weight: 700;
}

.header-login-signup .header-limiter nav a:hover {
	opacity: 1;
}

.header-login-signup .header-limiter nav a.selected {
	color: #608bd2;
}

/* Login/Sign up buttons */

.header-login-signup .header-limiter ul {
	font: 14px 'Rubik', sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.header-login-signup .header-limiter ul li {
	display: inline-block;
	margin-left: 15px;
	opacity: 0.9;
}

.header-login-signup .header-limiter ul li:hover {
	opacity: 1;
}

/* The sign up button */

.header-login-signup .header-limiter ul li:last-child a {
	font-weight: bold;
	background-color: #3a3c3e;
	padding: 10px 15px;
	border-radius: 3px;
}

/* Making the header responsive */

@media all and (max-width: 600px) {
	.header-login-signup {
		padding: 25px;
		height: 150px;
	}
	.header-login-signup .header-limiter h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}
	.header-login-signup .header-limiter nav {
		margin: 0;
		float: none;
	}
	.header-login-signup .header-limiter nav li a {
		font-size: 13px;
	}
	.header-login-signup .header-limiter ul {
		display: none;
	}
}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin: 0;
	padding: 0;
}

.already-member {
	
	padding: 16px;
	border-radius: 10px;
	color: #999;
	font-weight: normal;
}