.feedback-form {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.feedback-form:hover {
    box-shadow: 0px 0px 4px 0px #ddd;
}

.contact-box {
    font-size: 16px;
    padding: 30px;
    /* border: 1px solid #dddddd85;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #ddd; */
}