.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  opacity: 0.6;
  z-index: 1301;
  color: white;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 10px;
  border-color: #b80b7b;
  border-top-color: #dddddd;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
  opacity: 1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
