
/* @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap'); */

/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@import "./assets/css/rubik.css";
@import "./assets/css/styles.css";
@import "./assets/css/custom.css";

  body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Rubik', sans-serif,
    monospace;
}

/* 
code {
  font: 14px Consolas, "Courier New", monospace;
  background-color: #ddd;
  padding: 2px;
  border-radius: 5px;
} */

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 0.5em;
  padding: 1em;
}

.error h2 {
  margin: 0;
}

.error pre {
  margin-left: 1em;
  font-weight: bold;
  margin-bottom: 0;
}

.error code {
  background-color: unset;
  font-weight: bold;
}

.clientApiUsage {
  text-align: center;
}
.clientApiUsage button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

button:disabled {
  color: #888;
}

